@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    }

html,
body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    background-color: rgba(245, 245, 245, 0.4);
}

#site-header {
    padding: 60px 20px 60px 20xp;
}

main, aside {
    width: 90%;
    margin: 0 auto;
    
}

.topBar {
    width: 100%;
    background-image: url(../media/img/pexels-pixabay-256502.jpg);
    background-size: contain;
    background-position: center;
    text-align: center;
    border-bottom: 3px solid #888e29;
    margin-bottom: 10px;
}

.topBar h1 {
    color: #ffffff;
    padding: 0;
    margin: 0;
    text-shadow: 2 3px 4px rgba(236, 7, 7, 0.2);
}

.topBar p {

    color: #f25353;
    font-style: italic;
}

.topBar ul li {
    color: #e9ebee;
    display: inline-block;
}

.topBar ul li:not(:last-child) {
    margin-right: 15px;
}

.topBar ul li a {
    color: #888e29;
    font-weight: bold;
}

.topBar ul li a:hover {
    color: #ffffff;
    font-style: bold;
    background-color: rgb(130, 128, 128, 0.4);
    padding: 5px;
    border-radius: 5px;
}


.imgPersonale {
    background-image: url(../media/img/pexels-kampus-8353812.jpg);
    background-size:cover;
    background-position: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #888e29;
    float: left;
    margin-right: 8px;
}

.containerChiSono p:first-of-type::first-letter {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 6px;
    color: #888e29;

}

.noFloat {
    clear: both;
}




h2,
h3 {
    color: #1f3d7a;
}

h2::before{
    content: '─';
    color: #888e29;
    margin-right: 3px;
} 

.returnHome {
    text-align: center;
}

.skillList:nth-child(even) {
    background-color: #e9ebee;
}
.skillList:nth-child(odd) {
    background-color: #ffffff;
}

.progect {
    background-color: #e9ebee;
    padding: 3px 5px;
    border-radius: 8px;
}

.progect h3:first-of-type::after {
    content: '🆕';
}

.gitHubLink:hover {
    color: red;
}

section{
    border: 0.3px #1f3d7a;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px  rgb(80, 80, 80);
    background-color: #ffffff;
    padding: 15px;
}

article {
    margin-left: 10px;
}


label {
    font-family: 'Helvetica,Arial,sans-serif';
    color: #1f3d7a;
    font-weight: bold;
    
}

.input {
    width: 50%;
    font-family: Helvetica,Arial,sans-serif;
    display: block;
    margin-bottom: 15px;
}

input:hover,
textarea:hover {
    background-color: black;
    color: #ffffff;
}

input:focus,
textarea:focus,
select:focus {
    background-color: black;
    color: #ffffff;
}

input:placeholder-shown,
textarea:placeholder-shown {
    font-family: Helvetica,Arial,sans-serif;
}



.btnInvia {
    color: aliceblue;
    background-color: #1f3d7a;
    width: 30%;
    padding: 12px 24px;
    border: none;
    margin-top: 15px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) ;
    transition: 0.2s;
}

.btnInvia:hover {
    background-color: #194eb6;
    padding: 12px 24px;
    box-shadow: 3px 3px 8px  rgb(36, 36, 36) ;
}

.btnInvia:active{
    size: 1em;
    box-shadow: 1px 1px 2px rgb(36, 36, 36) ;
    background-color: #1f3d7a;
}

footer {
    width: 100%;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 3px;
}

.esperienze:nth-of-type(table) {
text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    }

th {
    border: 1px solid black;
}

tbody tr:nth-child(odd) {
    background-color: hsl(60, 2%, 45%, 0.5);
}

caption {
    border: 1px solid black;
    background-color: #1f3d7a;
    color: #e9ebee;
    }

         #competenze ul li::before {
            content: '⇨';
            margin-right: 5px ;
        } 
         #competenze ul li {
            list-style: none;
         } 